@media only screen and (min-width: 750px) {
    div {
        padding: 100px;
    }
}

@media only screen and (min-width: 1000px) {
    div {
        padding: 200px;
        max-width: 400px;
        display: block;
        background-color: #eee;
        margin-left: auto;
        margin-right: auto;
    }
}

button {
    width: 80px !important;
    min-width: unset !important;
    height: 80px !important;
    min-height: unset !important;
}
