<h1>My Calculator</h1>
<p aria-live="polite">Saisie : <strong>{{ inputForPrint }}</strong></p>
<p aria-live="polite">Resultat : <strong>{{ result }}</strong></p>
<div layout="row" layout-align="center center">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">PI</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">e</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">C</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">Erase</button></mat-grid-tile>

        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">1/x</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">abs</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">exp</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">mod</button></mat-grid-tile>

        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">(</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">)</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">n!</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">/</button></mat-grid-tile>

        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">7</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">8</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">9</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">x</button></mat-grid-tile>

        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">4</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">5</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">6</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">-</button></mat-grid-tile>

        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">1</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">2</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">3</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">+</button></mat-grid-tile>

        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">+/-</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">0</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">.</button></mat-grid-tile>
        <mat-grid-tile><button (click)="updateInput($event)" mat-flat-button color="primary">=</button></mat-grid-tile>
    </mat-grid-list>
</div>
