<h1>Workout</h1>
<div>
  <button *ngIf="!sessionState" (click)="onSessionStart()" mat-raised-button color="primary">
    Lancer la séance
  </button>
  <button *ngIf="sessionState" (click)="onSessionStop()" mat-raised-button color="primary">
    Arreter la séance
  </button>
</div>
<div *ngIf="sessionState">
  <h3>Nombre de série effectué : {{counter}}</h3>
  <button (click)="incrementCounter()" mat-raised-button color="primary">
    Série suivante
  </button>
  <br />
  <button (click)="resetCounter()" mat-raised-button color="secondary">
    Exercice suivant
  </button>
</div>
